<form (ngSubmit)="updateCliente(updateClienteForm)" #updateClienteForm="ngForm">
    <div class="mb-3">
      <label for="tipoIdentification" class="form-label">Tipo identificación</label>
      <input type="text" class="form-control" id="tipoIdentification" name="tipoIdentification" [(ngModel)]="cliente.tipoIdentificacion" #tipoIdentificacion="ngModel" required>
    </div>
    <div class="mb-3">
      <label for="identificacion" class="form-label">#Identificación</label>
      <input type="number" class="form-control" id="identificacion" name="identificacion" [(ngModel)]="cliente.identificacion" #identificacion="ngModel" disabled required>
    </div>
    <div class="mb-3">
        <label for="nombre" class="form-label">Nombre</label>
        <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="cliente.nombre" #nombre="ngModel" required>
      </div>
      <div class="mb-3">
        <label for="apellido" class="form-label">Apellido</label>
        <input type="text" class="form-control" id="apellido" name="apellido" [(ngModel)]="cliente.apellido" #apellido="ngModel" required>
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="text" class="form-control" id="email" name="email" [(ngModel)]="cliente.email" #email="ngModel" required>
      </div>
      <div class="mb-3">
        <label for="fechaNacimiento" class="form-label">Fecha nacimiento</label>
        <input type="text" class="form-control" id="fechaNacimiento" name="fechaNacimiento" [(ngModel)]="cliente.fechaNacimiento" #fechaNacimiento="ngModel" placeholder='YYYY-MM-DD' required>
      </div>
      <div class="mb-3">
        <label for="fechaCreacion" class="form-label">Fecha creación</label>
        <input type="text" class="form-control" id="fechaCreacion" name="fechaCreacion" [(ngModel)]="cliente.fechaCreacion" #fechaCreacion="ngModel" placeholder='YYYY-MM-DD' required>
      </div>
    <button type="submit" class="btn btn-primary">Guardar</button>
    <a class="btn btn-secondary" routerLink="../..">Cancelar</a>
  </form>
