<table class="table">
  <thead>
    <tr>
      <th scope="col">Tipo identificación</th>
      <th scope="col"># Identificación</th>
      <th scope="col">Nombres</th>
      <th scope="col">Apellidos</th>
      <th scope="col">Correo electronico</th>
      <th scope="col">Fecha nacimiento</th>
      <th scope="col">Fecha creación</th>
      <th>Opciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let cliente of clientes">
      <th>{{cliente.tipoIdentificacion}}</th>
      <td>{{cliente.identificacion}}</td>
      <td>{{cliente.nombre}}</td>
      <td>{{cliente.apellido}}</td>
      <td>{{cliente.email}}</td>
      <td>{{cliente.fechaNacimiento.toLocaleString()}}</td>
      <td>{{cliente.fechaCreacion}}</td>
      <td>
        <div class="d-flex">
          <a class="btn btn-primary" [routerLink]="[cliente.identificacion, 'update' ]">Editar</a>
          <a class="btn btn-danger">Borrar</a>
        </div>        
      </td>
    </tr>
  </tbody>
</table>
